.name {
    color: blueviolet;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: large;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

a {
    text-decoration: none;
    background-image: linear-gradient(rgba(152, 152, 230, 0.418), rgb(218, 163, 153));
    padding: 10px 40px;
    border-radius: 5px;
}